<div class="body">
      <div class="container">

        <p id="notice"></p>


      	<h1>Welcome to <span class="glyphicon glyphicon-book"></span><strong>Bookersだよ</strong>!</h1>


      </div>
    </div>